/*Generals*/
/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Custom properties*/

:root {
    --orange: rgb(255, 105, 0);
    --light: rgb(232, 232, 230);
    --dark: rgb(26, 26, 26);
    --red: rgb(255, 0, 0);
    --green: rgb(0, 128, 0);
}

.debug {
    border: 1px solid red;
}

.container {
    max-width: 70%;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.text-small {
    font-size: small;
}

.text-strong {
    font-weight: 200;
}

.text-red {
    color: var(--red);
    font-weight: 1000;
}

.text-deleted {
    text-decoration: line-through;
}

.padding1 {
    padding-top: 50px;
    padding-bottom: 100px;
}

.padding2 {
    padding-bottom: 100px;
}
/*Utility Flex*/

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

/*header*/
header {
    background-color: var(--orange);
    line-height: 50px;
}
/*main*/
main {
    max-width: 100%;
}

.col {
    width: calc((100% - 20px)/ 3);
    position: relative;
}

.col img {
    width: 100%;
    display: block;
}
.gap {
    gap: 10px;
}

.badge-red {
    position: absolute;
    bottom: 20px;
    left: 0;
    font-size: xx-small;
    color: white;
    width: 25px;
    line-height: 15px;
    text-align: center;
    background-color: var(--red);
}

.badge-green {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: xx-small;
    color: white;
    width: 50px;
    line-height: 15px;
    text-align: center;
    background-color: var(--green);
}

.badge-heart {
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    line-height: 25px;
    text-align: center;
    background-color: white;
}

#badge-g {
    position: absolute;
    bottom: 20px;
    left: 0px;
    font-size: xx-small;
    color: white;
    width: 50px;
    line-height: 15px;
    text-align: center;
    background-color: var(--green);
}

.content {
    position: absolute;
    top: 500px;
    left: 0px;
}

/*footer*/
footer {
    background-color: var(--dark);
}